@import "../lib.less";

.veui-color-shade-field {
  position: relative;

  &-shade,
  &-saturation {
    width: 100%;
    height: 100%;
  }

  &-brightness {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &-aperture {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border: 2px solid #FCFCFC;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  }
}

.veui-color-value {
  height: 30px;

  input {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
  }
}

.veui-color-value-hex {
  .veui-color-value {
    width: 80px;
  }

  input {
    text-transform: uppercase;
  }
}

.veui-color-value-hsl,
.veui-color-value-rgb {
  .clearfix();

  .veui-color-value {
    float: left;
    width: 44px;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.veui-color-value-alpha {
  .veui-color-value {
    width: 46px;
  }
}

.veui-color-value-group {
  .clearfix();

  &-name {
    font-size: 14px;
    line-height: 30px;
    margin-right: 5px;
  }

  &-item {
    div {
      float: left;
    }
    &-rgb {
      float: right;
    }
  }
}

.veui-color-value-alpha-group {
  &-values {
    .clearfix();
  }
  &-color {
    float: left;
  }
  &-alpha {
    float: right;
  }

  .veui-color-value-hex {
    .veui-color-value {
      width: 140px;
    }
  }

  .veui-color-value-hsl,
  .veui-color-value-rgb {
    .veui-color-value {
      width: 40px;
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-text {
    .clearfix();
    color: #666;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    &-hsl,
    &-rgb {
      div {
        float: left;
        width: 40px;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    &-hex {
      float: left;
      width: 140px;
    }
    &-alpha {
      width: 46px;
      float: right;
    }
  }

  &-separator {
    float: left;
    width: 14px;
    height: 30px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='20'><circle cx='2' cy='2' r='2' fill='#D8D8D8'/><circle cx='2' cy='10' r='2' fill='#666666'/><circle cx='2' cy='18' r='2' fill='#D8D8D8'/></svg>") no-repeat center / 4px auto;
  }

  &[ui=hex] {
    .veui-color-value-alpha-group-separator {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='20'><circle cx='2' cy='2' r='2' fill='#666666'/><circle cx='2' cy='10' r='2' fill='#D8D8D8'/><circle cx='2' cy='18' r='2' fill='#D8D8D8'/></svg>");
    }
  }
  &[ui=hsl] {
    .veui-color-value-alpha-group-separator {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='4' height='20'><circle cx='2' cy='2' r='2' fill='#D8D8D8'/><circle cx='2' cy='10' r='2' fill='#D8D8D8'/><circle cx='2' cy='18' r='2' fill='#666666'/></svg>");
    }
  }
}

.veui-color-panel-luxuriant {
  width: 300px;
  position: relative;

  .veui-color-shade-field {
    margin: 0 auto;
  }
  .veui-color-alpha-slider {
    position: absolute;
    top: 0;
    left: 0;
  }
  .veui-color-hue-slider {
    position: absolute;
    top: 0;
    right: 0;
  }

  &-color-diff {
    margin: 14px 0;
    height: 24px;
    font-size: 14px;
    line-height: 24px;

    div {
      height: 100%;
      float: left;
    }

    &-text {
      width: 40px;

      &:last-child {
        text-align: right;
      }
    }

    &-color {
      width: 220px;
      .veui-transparency-grid-background();

      div {
        width: 50%;
      }
    }
  }
}

.veui-color-panel-standard {
  &-swatch {
    margin: 10px 0;
    .clearfix();

    .veui-color-swatch {
      float: left;
    }
  }

  &-sliders {
    float: right;

    .veui-color-alpha-slider {
      margin-top: 3px;
    }
  }
}

.veui-color-picker {
  width: 340px;
  box-sizing: border-box;
  color: #333;
  border: 1px solid #DBDBDB;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  &-main {
    padding: 20px;
  }

  &[ui=standard] {
    width: 222px;
    .veui-color-picker-main {
      padding: 10px;
    }
  }
}
